{% extends '_base.html' %}
{% load buttons %}

{% block content %}
    <div class="pull-right">
        {% if perms.modules.add_manufacturer %}
            {% add_button 'modules:manufacturer_add' %}
            {% import_button 'modules:manufacturer_import' %}
        {% endif %}
        {% export_button content_type %}
    </div>
    <h1>{% block title %}Modules Manufacturers{% endblock %}</h1>
    <div class="row">
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with bulk_delete_url='modules:manufacturer_bulk_delete' %}
        </div>
    </div>
{% endblock %}